.vscode/**
.vscode-test/**
out/test/**
**/__pycache__/
**/.*_cache/
**/.pytype
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/.env/
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**